/* Global Styles */

@font-face {
    font-family: "myfirstfont";
    src: url("../fonts/ROCK.TTF") format("truetype");
  }

.carousel {
    display: flex;
    align-items: center;
    max-width: 100%;
}

body {
    font-family: "myfirstfont", "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.logo {
    height: 100%;
    margin: 0;
}

nav {
    display: flex;
    width: 100%;
    margin: auto 50px auto 75px;
    justify-content: space-evenly;
    vertical-align: middle;
    font-weight: bold;
    font-size: large;
}

.search-button {
    color: #447BAD;
    border: none;
    background-color: #F5F5F5;
}

.search-field {
    color: #447BAD;
    border: none;
    background-color: #F5F5F5;
    font-family: "myfirstfont";
}

main {
    color: #447BAD;
}

.main-intro__orientation {
    font-weight: bold;
    margin: 7px;
    font-style: italic;
    font-weight: normal;
    font-size: small;
}

.main-intro__title {
    margin: 5px;
}

.rainy-days-nav {
    font-style: normal;
}

h1 {
    font-size: xx-large;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.carousel-section {
    display: flex;
    justify-content: center;
    font-weight: bold;
    max-width: 100%;
}

.carousel-item {
    max-width: 269px;
}

.carousel-ken-daniels {
    max-width: 320px;
}

.main-cta {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.women-button, .men-button {
    margin: 10px;
}

header,
footer {
    background-color: #447BAD;
    display: flex;
}

header a,
footer a {
    color: #F5F5F5;
}

footer {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    font-weight: bold;
}

.social-media-section {
    display: flex;
    margin-left: 50x;
    vertical-align: middle;
    padding: 10px;
}

.social-item {
    margin: 10px 10px 10px 0;
}

.footer-navigation {
    display: flex;
    margin: 10px;
    vertical-align: middle;
    padding: 10px;
}

.customer-support, .about {
    margin: 10px 10px 10px 0;
}

.copyright-section {
    color: #F5F5F5;
    margin: 10px;
    vertical-align: middle;
    padding: 10px;
    }

/* Home Page */

/* Women */

.category-section-top {
    width: 80%;
    float: right;
    min-height: 50px;
}

.category-section-left {
    width: 20%;
    float: left;
    min-height: 300px;
    margin-top: 100px;
}

.main-jackets {
    min-height: 700px;
    width: 80%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

.jacket-box {
    width: 25%;
    min-height: 16px;
    position: relative;
    margin-bottom: 10px;
}

.jacket-box-display {
    height: 85%;
}

.jacket-box-description {
    height: 15%;
}

.jacket-box-image {
    max-width: 80%;
    height: auto;
}

.category-section-top {
    display: flex;
}

.color-row-large, .size-icon-row {
  font-weight: bold;
  font-size: x-large;
}

.color-row-large {
    margin: 0 0 0 15px;
}

.category-title {
    margin: 0 0 0 10px;   
}

.category-item {
    margin: 0 0 0 20px;
    padding: 5px;
}

.checkbox-category {
    float: right;
    margin-right: 5px;
}

.jacket-box-description img, .jacket-box-image {
    margin: auto;
    display: block;
}

.jacket-box-description p {
    margin: 0;
    text-align: center;
}

.to-top-icon {
    float: right;
    margin: 10px;
}

/* Men */

/* Search results */

/* Jacket Specific */

/* Customer Support */

/* About */

/* Media Queries */

@media (max-width: 1300px) {
    .carousel-red-jacket, .carousel-blue-jacket {
        display: none;
    } 
    
}

@media (max-width: 799px) {
    .carousel-red-jacket, .carousel-ilse-jacobsen, .carousel-jack-wolfskin, .carousel-blue-jacket {
        display: none;
    }

    .main-cta {
        display: block;
    }

    nav {
        display: flex;
    }

    footer {
        display: block;
        align-items: center;
    }

    .social-media-section, .footer-navigation, .copyright-section {
        width: 50%;
        margin: auto; 
        display: flex;
        padding: 10px;
        justify-content: space-evenly;
    }
}

@media (max-width: 699px) {
    .gender-navigation {
        display: flex;
        margin: 0;
        padding: 15px 0 15px 15px;
        justify-content: left;
    }

    header {
        display: block;
    }

    .nav-div {
        margin: 10px;
    }
    nav {
        width: 90%;
    }

    .gender-navigation__women, .gender-navigation__men, .search-bar, .cart {
        padding: 15px 15px 15px 0px;
    }

}

@media (max-width: 499px) {
    .gender-navigation {
        display: block;
    }
}
