/* Global Styles */

@font-face {
    font-family: "myfirstfont";
    src: url("../fonts/ROCK.TTF") format("truetype");
  }

.carousel {
    display: flex;
    align-items: center;
    max-width: 100%;
}

body {
    font-family: "myfirstfont", "Roboto", Verdana, Tahoma, sans-serif;
    margin: 0;
}

.logo {
    height: 100%;
    margin: 0;
}

nav {
    display: flex;
    width: 100%;
    margin: auto 50px auto 75px;
    justify-content: space-evenly;
    vertical-align: middle;
    font-weight: bold;
    font-size: large;
}

.search-button {
    color: #447BAD;
    border: none;
    background-color: #F5F5F5;
}

.search-field {
    color: #447BAD;
    border: none;
    background-color: #F5F5F5;
    font-family: "myfirstfont";
}

.cart-icon {
    text-decoration: none;
    display: flex;
    align-items: center;
}

main {
    color: #447BAD;
}

.main-intro__orientation {
    font-weight: bold;
    margin: 7px;
    font-style: italic;
    font-weight: normal;
    font-size: small;
}

.main-intro__title {
    margin: 5px;
}

.rainy-days-nav {
    font-style: normal;
}

h1 {
    font-size: xx-large;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

header,
footer {
    background-color: #447BAD;
    display: flex;
}

header a,
footer a {
    color: #F5F5F5;
}

footer {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    font-weight: bold;
}

.social-media-section {
    display: flex;
    margin-left: 50x;
    vertical-align: middle;
    padding: 10px;
}

.social-item {
    margin: 10px 10px 10px 0;
}

.footer-navigation {
    display: flex;
    margin: 10px;
    vertical-align: middle;
    padding: 10px;
}

.customer-support, .about {
    margin: 10px 10px 10px 0;
}

.copyright-section {
    color: #F5F5F5;
    margin: 10px;
    vertical-align: middle;
    padding: 10px;
}

input {
        color: #447BAD;
        border-color: #447BAD;
        background-color: white;
        font-family: "myfirstfont";
        border-width: 1px;
}

/* Home Page */

.carousel-section {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    max-width: 95%;
    margin: auto;
    min-height: 450px;
}

.carousel-item {
    width: 20%;
    text-align: center;
}

.carousel-jacket-image {
    height: 100%;
    width: auto;
    margin: auto;
    margin-top: 0;
    max-height: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlighted-carousel-jacket-image {
    height: 100%;
    width: auto;
    margin: auto;
    margin-top: 0;
    display: flex;
    align-items: center;
    max-height: 450px:
}

.carousel-item > a {
    width: auto;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.product-details-and-nav-section {
    display: flex;
    justify-content: center;
    padding: 25px;
    flex-wrap: wrap;
    min-height: 200px;
    max-width: 40%;
    margin: auto;
}

.women-button, .men-button {
    margin: 10px;
}

.carousel-product-details-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 40%;
}

.carousel-in-stock-div, .carousel-review-div, .carousel-product-description-div, .carousel-buy-button-div {
    width: 50%;
    min-height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.carousel-in-stock-div img {
    max-height: 20px;
    width: auto;
}

.carousel-in-stock-div {
    display: flex;
    vertical-align: middle;
}

.carousel-review-div img {
    float: right;
}

.carousel-navigation {
    margin: auto;
}

.carousel-buy-button-div {
    float: right;
}

.buy-button img {
    float: right;
    margin-top: 15px;
}

.carousel-buy-button-div {
    align-items: center;
}

/* Women and Men */

.category-section-top {
    width: 80%;
    float: right;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.category-section-left {
    width: 20%;
    float: left;
    min-height: 300px;
    margin-top: 100px;
}

.main-jackets {
    min-height: 700px;
    width: 80%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

.jacket-box {
    width: 25%;
    min-height: 16px;
    position: relative;
    margin-bottom: 10px;
}

.jacket-box-display {
    height: auto;
    padding: 1rem;
}

.jacket-box-description {
    height: 15%;
}

.jacket-box-image {
    max-width: 80%;
    height: auto;
    max-height: 325px;
    width: auto;
}

.jacket-specific-image {
    max-width: 80%;
    height: auto;
    max-height: 450px;
    width: auto;
}

.category-section-top {
    display: flex;
}

.color-row-large, .size-icon-row {
  font-weight: bold;
  font-size: x-large;
}

.color-row-large {
    margin: 0 0 0 15px;
}

.category-title {
    margin: 0 0 0 10px;   
}

.category-item {
    margin: 0 0 0 20px;
    padding: 5px;
}

.checkbox-category {
    float: right;
    margin-right: 5px;
}

.jacket-box-description img, .jacket-box-image {
    margin: auto;
    display: block;
}

.jacket-box-description p {
    margin: 0;
    text-align: center;
}

.main-bottom {
    min-height: 90px;
    width: 90%;
}

.to-top-icon {
    float: right;
    margin-right: 20px;
}

.home-delivery-label, .pickup-point-label, .deliver-nearby-label {
    font-size: x-large;
}

/* Jacket Specific */

.main-jacket-specific {
    margin: 0 25px;
    min-height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.jacket-specific-display {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.jacket-specific-box {
    width: 40%;
    margin: 20px;
}

.jacket-specific-details {
    width: 40%;
}

h1.jacket-specific-title {
    text-align: left;
    padding: 0;
}

.shipping-details {
    font-style: italic;
    color: #447BAD;
    float: right;
}

.green-dot-jacket-specific, .red-dot-jacket-specific {
    width: 20px;
    margin-right: 12px;
}

.price-jacket-specific {
    width: 65%;
    font-weight: bold;
}

.line-jacket-specific {
    max-width: 100%;
}

.nr-of-reviews {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    color: #447BAD;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.size-guide {
    text-align: center;
    color: #447BAD;
    font-style: italic;
}

.size-selection-section-jacket-details, .reviews-section-jacket-specific, .shipping-jacket-specific, .color-row-5-large, .price-section-jacket-specific {
    display: flex;
    max-width: 557px;
}

.price-section-jacket-specific {
    justify-content: space-between;
}

.shipping-jacket-specific, .size-selection-section-jacket-details {
    justify-content: space-between;
    align-items: center;
}

.add-to-cart-button {
    width: 100%;
    margin-top: 10px;
    max-width: 555px;
}

.details-title-jacket-specific {
    width: 50%;
    font-weight: bold;
    font-size: large;
}

.dropdown-icons {
    margin: auto;
    height: 21px;
    position: relative;
}

.jacket-specific-also-seen {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.jacket-specific-box {
    width: 40%;
    margin: 20px;
}

.also-seen-title {
    width: 60%;
    float: left;
}

.jacket-specific-title-intro {
    display: none;
}

/* Cart */

/* Cart - Header */

.cart-header {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart-header-item-product {
    width: 20%;
    margin: auto;
}

.cart-header-item-details {
    width: 20%;
    margin: auto;
}

.cart-header-nr {
    width: 10%;
}

.cart-header-price {
    width: 10%;
    margin: auto;
}

.cart-header-total {
    width: 10%;
    margin: auto;
}

.cart-header-delete {
    width: 10%;
    margin: auto;
}

/* Cart - Purchase item(s)  */

.cart-purchase-item-placeholder-div {
    min-height: 300px;
}

.cart-purchase-item-div {
    max-width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.cart-item-image-div {
    width: 20%;
    margin: auto;
}

.cart-item-product-image {
    margin: auto;
}

.cart-item-product-description {
    width: 20%;
    margin: auto;
}

.cart-item-nr {
    display: flex;
    flex-direction: row;
    width: 10%;
    align-items: center;
    font-weight: bold;
}

.add-item-button-cart
.cart-item-nr
.subtract-item-button-cart {
    padding: 3px;
    margin: 3px;
}

.cart-item-counter {
    padding: 5px;
    font-size: large;
}

.add-item-button-cart, .subtract-item-button-cart, .cart-item-delete-icon {
    color: #447BAD;
    font-family: "myfirstfont";
    font-weight: bolder;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #F5F5F5;
    border-color: #447BAD;
    border-width: 2px;
    margin: 2px;
}

.cart-item-price {
    width: 10%;
    margin: auto;
}

.cart-item-sum {
    width: 10%;
    margin: auto;
}

.cart-item-delete-icon-div {
    width: 10%;
    margin: auto;
}

/* Cart - CTA-section */

.cart-cta {
    max-width: 50%;
    margin: auto;
}

.keep-shopping-cta {
    float: left;
    margin-left: 28px;
}

.to-checkout-cta {
    float: right;
}

/* Cart - Also seen section*/

.cart-also-seen {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.cart-also-seen-field {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

/* Checkout */

.checkout-body {
    display: flex;
    flex-wrap: wrap;
    color: #447BAD;
}

.checkout-header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    vertical-align: center;
}

.back-to-store {
    margin-top: auto;
    margin-bottom: auto;
}

.checkout-instruction {
    padding: 5px;
    text-decoration: underline;
    font-size: small;
}

.checkout-personal-details {
    width: 100%;
    min-height: 300px;
}

.checkout-products, .checkout-delivery {
    width: 50%;
    position: relative;
    min-height: 300px;
}

.checkout-products {
    float: left;
}

.checkout-delivery {
    float: right;
}

.checkout-amount-to-pay, .checkout-payment-details {
    width: 50%;
    position: relative;
}

.checkout-amount-to-pay {
    float: left;
}

.checkout-payment-details {
    float: right;
}

.checkout-to-top {
    width: 80%;
    position: relative;
    min-height: 100px;
    float: bottom;
}

.personal-details-form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.personal-details-form input  {
    padding: 3px;
    margin-bottom: 5px;
}

.checkout-product-image, .checkout-product-description {
    position: relative;
    margin: auto;
}

.checkout-product-image {
    float: left;
}

.checkout-product-description {
    float: right;
    max-width: 40%;
}

.checkout-product-title {
    font-size: x-large;
    font-weight: bold;
}

.checkout-your-products {
    display: flex;
    margin: auto;
    float: right;
}

.checkout-deliver-to-form input, .checkout-deliver-to-form select {
    margin-bottom: 5px;
    padding: 3px;
    width: 60%;
}

#deliver-to, #delivery-message {
    max-width: 100%;
}

#home-delivery, #deliver-nearby-store, #pickup-point {
    max-width: 20%;
}

#delivery-time {
    max-width: 80px;
    color: #447BAD;
    border-color: #447BAD;
    background-color: white;
    font-family: "myfirstfont";
    border-width: 1px;
}

.checkout-deliver-to-form label {
    width: 50%;
    position: relative;
}

.checkout-deliver-to-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.bring-logo {
    height: auto;
}

.home-delivery-div, .pickup-point-div, .delivery-nearby-store-div, .deliver-to-div, .delivery-time-div, .delivery-message-div {
    display: flex;
    justify-content:space-between;
}

.rainy-days-logo-checkout {
    max-height: 31px;
    width: auto;
}

.delivery-message-div, .delivery-nearby-store-div {
    margin-bottom: 50px;
}

.rainy-days-logo-checkout {
    margin-left: 29px;
}

.checkout-amount-to-pay-div {
    float: right;
    width: 60%;
}

.checkout-payment-details-div {
    width: 80%;
    margin: auto;
}

.personal-details-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.card-div, .card-nr-div, .name-on-card-div, .expiration-date-div, .cvc-code-div, .vipps-div, .phone-nr-div {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
}

.checkout-payment-form-card, .checkout-payment-form-vipps {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.vipps-div {
    margin-top: 50px;
}

.card-nr-div, .name-on-card-div, .expiration-date-div, .cvc-code-div, .phone-nr-div {
    width: 80%;
    margin: auto;
}

.vipps-logo {
    max-height: 27px;
}

.checkout-payment-cta-div {
    margin-top: 50px;
}

.bring-logo {
    max-width: 76px;
    max-height: 30px;
}

.rainy-days-logo-checkout {
    max-width: 48px;
    max-height: 31px;
}

/* Checkout Success */

.body-checkout-success {
    color: #447BAD;
}

.checkout-success-message p {
    padding-bottom: 5px;
    padding-top: 5px;
}

.customer-support-link {
    margin-top: auto;
    margin-bottom: auto;
}

.checkout-success-message p {
    margin: auto;
    max-width: 80%;
    text-align: center;
}

.checkout-success-message {
    margin-bottom: 30px;
}

.continue-shopping-button {
    margin: 30px auto 30px auto;
    display: block;
}

.checkout-success-continue-shopping {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.checkout-success-order-details {
    max-width: 883px;
    margin: auto;
}

.checkout-success-order-details > div {
    border: 3px solid #447BAD;
}

.checkout-success-order-details-headline, .checkout-success-order-details-product {
    margin-bottom: -3px;
}

.checkout-success-order-details-product, .checkout-success-order-details-shipping {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkout-success-order-details-product > div, .checkout-success-order-details-shipping > div {
    width: 45%;
    padding: 5px;
}

.checkout-success-order-details-headline h2 {
    padding: 5px;
}

/* Customer Support */

.customer-support-main {
    width: 60%;
    margin: auto;
}

.customer-support-form-section {
    width: 60%;
    margin: auto;
}

.customer-support-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customer-support-instructions {
    font-style: italic;
    font-size: small;
}

.customer-support-form-div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.customer-support-instructions-div {
    margin: auto;
    justify-content: center;
    margin-top: 5px;
    font-size: 0.8rem;
}

#submit-button {
    color: #447BAD;
    font-family: "myfirstfont";
    font-weight: bolder;
    font-size: 2.3rem;
    padding: 1.5rem 2rem 1.5rem 2rem;
    background-color: #F5F5F5;
    border-color: #447BAD;
    border-width: 4px;
    margin-bottom: 5rem;
}

.customer-support-form-div input {
    width: 40%;
}

.send-button-customer-support {
    margin: auto;
}

.customer-support-form-submit-div {
    display: block;
    margin: auto;
    padding: 20px;
}

#enquiry-about {
    color: #447BAD;
    border-color: #447BAD;
    background-color: white;
    font-family: "myfirstfont";
    border-width: 1px;
}

.error-message {
    color: red;
    font-size: bold;
}

.success-message {
    color: green;
    font-size: bold;
}

/* .form-success-message {
    margin-bottom: 10px;
} */

/* About */
.about-image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.about-image-section div {
    width: 33%;
}

.about-image-section img {
    width: 67%;
}

.about-image-div {
    margin: auto;
}

.about-image-div h2 {
    max-width: 90%;
    margin: auto;
}

.h2-passionate-adventurers {
    text-align: left;
}

.h2-since-2011 {
    text-align: right;
}

.about-founders-section {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.about-founders-div {
    min-height: 150px;
}

.email-icon {
    height: 18px;
}

.the-team-h2 {
    text-align: center;
}

.about-cta-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.about-cta-section img {
    margin: 10px;
}

/* Customer Support Success */
.customer-support-success {
    text-align: center;
}

/* Media Queries */

@media (max-width: 1600px) {
    .carousel-jacket-image {
        max-height: 280px;
    }

    .highlighted-carousel-jacket-image {
        height: 90%;
    }
}

@media (max-width: 1450px) {
    .product-details-and-nav-section {
        max-width: 50%;
    }

    .carousel-section {
        min-height: 400px;
    }
    .carousel-jacket-image {
        max-height: 250px;
    }

    .highlighted-carousel-jacket-image {
        height: 90%;
    }
}

@media (max-width: 1300px) {
    .non-highlighted-carousel-item-outer {
        display: none;
    } 
    
    .category-section-top {
        display: block;
    }

    .color-row-large {
        margin: 0;
    }

    .jacket-box {
        width: 33%;
    }

    .highlighted-carousel-item {
        width: 30%;
    }
}

@media (max-width: 1199px) {
    .jacket-specific-box {
        width: 80%;
        margin: 20px;
    }
    
    .jacket-specific-display {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .jacket-specific-details {
        width: 50%;
    }
}

@media (max-width: 1150px) {
    .product-details-and-nav-section {
        max-width: 60%;
    }
}

@media (max-width: 1050px) {    
    .category-section-left {
        width: 80%;
        margin: 0 200px 20px 100px;
        float: none;
        min-height: 30px;
        margin-top: 0;
        max-width: 400px;
    }

    .category-section-top {
        width: 80%;
        float: none;
        min-height: 30px;
        margin: 0 200px 20px 100px;
        max-width: 400px;
    }

    .jacket-box {
        width: 50%;
    }

    .checkout-header, .checkout-personal-details, .checkout-products, .checkout-delivery, .checkout-amount-to-pay, .checkout-payment-details {
        width: 80%;
        margin: auto;
    }

    .checkout-amount-to-pay-div, .checkout-amount-to-pay {
        width: 80%;
        margin: auto;
    }

    .checkout-amount-to-pay-div {
        float: none;
    }

    .deliver-nearby-store {
        max-height: 19px;
    }

    .highlighted-carousel-item {
        width: 35%;
    }

}

@media (max-width: 999px) {       
    .checkout-deliver-to-form label {
        width: 80%;
    }

    .checkout-success-order-details-product > div, .checkout-success-order-details-shipping > div {
        width: 90%;
    }

    .customer-support-form-div {
        flex-direction: column;
    }

    .checkout-success-order-details {
        width: 80%;
    }

    .customer-support-form-div input {
        width: 80%;
    }

    #enquiry-about {
        width: 40%;
    }

    .about-founders-section {
        width: 95%;
        margin: auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}

@media (max-width: 950px) {
    .product-details-and-nav-section {
        max-width: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carousel-product-details-div {
        max-width: 50%;
    }

    .main-cta {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}

@media (max-width: 799px) {
    .non-highlighted-carousel-item-inner {
        display: none;
    }

    nav {
        display: flex;
    }

    footer {
        display: block;
        align-items: center;
    }

    .social-media-section, .footer-navigation, .copyright-section {
        width: 50%;
        margin: auto; 
        display: flex;
        padding: 10px;
        justify-content: space-evenly;
    }

    .jacket-box {
        width: 80%;
    }

    .jacket-specific-display {
        width: 100%;
        text-align: center;
    }

    .jacket-specific-also-seen, .also-seen-title {
        display: none;
    }

    .jacket-specific-title-intro {
        display: block;
        text-align: center;
    }

    .jacket-specific-title {
        display: none;
    }

    .main-jacket-specific {
        width: 100%;
        margin: 0;
    }

    .jacket-specific-details {
        width: 80%;
        margin: auto;
    }

    .also-seen-section-cart {
        display: none;
    }

    .cart-header {
        display: none;
    }

    .cart-main {
        width: 100%;
    }

    .cart-cta {
        min-height: 100px;
    }

    .customer-support-main, .customer-support-form-section {
        width: 90%;
        margin: auto;
    }

    .customer-support-form-div input {
        width: 80%;
    }

    .about-founders-section {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

}

@media (max-width: 699px) {
    .gender-navigation {
        display: flex;
        margin: 0;
        padding: 15px 0 15px 15px;
        justify-content: left;
    }

    .carousel-product-details-div {
        max-width: 60%;
    }

    header {
        display: block;
    }

    .nav-div {
        margin: 10px;
    }
    nav {
        width: 90%;
    }

    .gender-navigation__women, .gender-navigation__men, .search-bar, .cart {
        padding: 15px 15px 15px 0px;
    }

    .jacket-box {
        width: 100%;
    }

    .size-icon-row, .color-row-large {
        margin: auto 5px;
    }

    .category-section-left {
        width: 80%;
        margin: 0 0 20px 0;
        float: none;
        min-height: 30px;
        max-width: 400px;
    }

    .category-section-top {
        width: 80%;
        float: none;
        min-height: 30px;
        margin: 0;
        max-width: 400px;
        margin-left: 5px;
    }

    .keep-shopping-cta, .to-checkout-cta {
        max-width: 300px;
        margin: 10px;
    }

    .cart-main {
        max-width: 600px;
        flex-direction: column;
        text-align: center;
    }

    .cart-cta {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .checkout-header, .checkout-personal-details, .checkout-products, .checkout-delivery, .checkout-amount-to-pay, .checkout-payment-details {
        width: 100%;
    }

    .checkout-your-products {
        justify-content: space-between;
    }

    .send-button-customer-support {
        width: 150px;
        height: auto;
    }
}

@media (max-width: 599px) {
    .card-nr-div, .name-on-card-div, .expiration-date-div, .cvc-code-div, .phone-nr-div {
        flex-direction: column;
    }

    .home-delivery-div, .pickup-point-div, .delivery-nearby-store-div, .deliver-to-div, .delivery-time-div, .delivery-message-div {
        flex-direction: column;
    }

    .checkout-deliver-to-form input, .checkout-deliver-to-form select {
        width: 100%;
    }

    .product-details-and-nav-section {
        padding: 15px;
    }

    .carousel-product-details-div {
        max-width: 70%;
    }
}

@media (max-width: 499px) {
    .gender-navigation {
        display: block;
    }

    .size-selection-image, .color-row-image {
        width: 200px;
        margin-left: 10px;
    }

    .color-row-image {
        margin-bottom: 10px;
    }

    .jacket-specific-details {
        margin-left: 12px;
    }

    .stars-jacket-specific, .color-row-5-large, .size-selection-jacket-specific {
        max-width: 250px;
    }

    #deliver-to, #delivery-message {
        width: 80%;
    }

    .home-delivery-div, .deliver-to-div, .delivery-time-div, .delivery-message-div {
        margin-bottom: 5px;
    }

    .delivery-nearby-store-div {
        margin-top: 40px;
    }

    .checkout-header {
        align-items: center;
        flex-direction: column;
    }

    .checkout-header > a {
        padding: 10px;
    }

    .continue-shopping-button {
        width: 220px;
        height: auto;
    }

    #enquiry-about {
        width: 60%;
    }

    .about-image-section div {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .about-image-section img {
        width: 100%;
    }

    .h2-passionate-adventurers, .h2-since-2011 {
        text-align: center;
    }

    .about-founders-section {
        width: 90%;
    }

    .checkout-product-image, .checkout-product-description {
        margin: auto;
    }

    .checkout-your-products {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        float: none;
    }

    .carousel-product-details-div {
        max-width: 80%;
    }
}
